<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Sandbox Authoring{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    {% block base_styles %}{% endblock %}
  </head>
  <body>
    {% block container %}{% endblock %} {% block base_scripts %}{% endblock %}
  </body>
</html>
