.right-panel ul li.disabled {
  cursor: not-allowed;
  color: #e0e0e0;
}

.right-panel ul li:not(:last-child),
.chooseLanguage ul li:not(.selected) {
  cursor: pointer;
}
.right-panel ul li:hover:not(.disabled):not(:last-child),
.right-panel ul li.active {
  color: #ffffff;
  background-color: #262626;
}
.player ul li {
  display: none;
  border: 1px solid #c5c5c7;
  box-shadow: 0px 0px 5px 0.5px;
  position: relative;
}
.player ul li.active {
  display: block;
}
.bookmarks {
  height: 100vh;
  overflow: auto;
}
.bookmarks ul li {
  cursor: pointer;
}
.bookmarks ul li.active {
  box-shadow: 0px 0px 5px 0px;
  background-color: #efebf9;
  border-color: #efebf9;
}
.chooseLanguage ul li.selected {
  color: #4e4e4e;
  background-color: #eaeaea;
}

/* Jquery UI Slider css */
.ui-slider-horizontal {
  position: relative;
  width: 600px;
  background: #e0e0e0;
  height: 6px;
  margin: 0px auto;
}
.ui-slider-horizontal .ui-slider-handle {
  position: absolute;
  background: url("/static/images/icon-slide-handle.png") center center
    no-repeat;
  width: 35px;
  height: 35px;
  top: -15px;
  background-size: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.58);
  -moz-box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.58);
  box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.58);
  border-radius: 50%;
  cursor: ew-resize;
  outline: none;
}

.player ul li.active.ui-selectable {
  cursor: crosshair;
}
.player .active .highlight {
  box-shadow: 0px 0px 1px 1px red;
  box-sizing: content-box;
  cursor: pointer;
  position: absolute;
}
.player .active .highlight .delete {
  position: absolute;
  background: url(/static/images/delete.png) no-repeat center center;
  background-size: 70%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
