.videoList li h6[title] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pagination li:not(.active):not(.disabled) {
  cursor: pointer;
}
.pagination li.active:hover {
  color: #fff;
}
