{% extends 'layouts/base.html' %} {% block container %}
<div id="root" class="container-fluid"></div>
{% endblock %} {% block title %}{{ file.name }}{% endblock %} {% block
base_scripts %}
<script type="text/javascript">
  document.videoId = "{{file.unique_id}}";
</script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/build/edit.pack.js') }}"
></script>
{% endblock %}
